.container {
  display: flex;
  width: 100%;
  gap: 8px;
}

.container.containerWithJS::-ms-reveal {
  display: none;
}

.container.containerWithJS::reveal {
  display: none;
}

.container.containerWithJS .showControl {
  display: block;
}

.showControl {
  display: none;
  position: relative;
  top: 26px;
  min-width: 50px;
  height: var(--form-field-height);
  font-size: 0.75rem;
}
